#logo{
    margin-right: 5rem;
    
}
#Search{
    margin-top: 5px;
}
#imga{
    width: 12rem;
    height: 15rem;
}
#bor1{
    width: 12rem;
    height: 15rem;
}
.spb2{
    padding: 0px;
}
.proj img{
    width: 10rem;
    height: 10rem;
}