#spimg {
    width: 15rem;
    height: 13rem;
}
#section1{
    font-size: 1.5rem;
    padding-top: 11rem;
    height: 25rem;
}
#section2{
    height: 25rem;
}
#Search{
    padding: 7px 5px;
    font-size: 1.2rem;
}
#contactME{
    width: 25rem;
}
