#section1{
    font-size: 1rem;
   
}
#section2{
    padding-left: 1rem;
   
}
#spimg{
    width: 9rem;
    height: 8rem;
   
}
#about{
    margin: 1rem 1rem;
    
}
.proj img {
    width: 11rem;
    height: 6rem;
}
